html, body {
    height: 100%;
}

html body {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.7;
    color: #000000;
    text-align: center;
}

main {
    max-width: 750px;
    margin: auto;
    padding: 20px 0;
}

/* Make sure images do not overflow the main content */
img {
    max-width: 100%
}

/* Section Index Pages */
.section-item {
    flex: 1 0 auto;
}

a:link, a:visited, .pagination > li > a {
    color: blue;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: red;

}

/* paginator at bottom of list view */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* project cards */

.project-card-group {
    margin-top: 20px;
    padding-bottom: 30px;
}

.project-card-holder {
    text-align: start;
}

.project-card {
    flex: 1 1 auto;
    padding: 1em;
}

.project-card-title {
    margin-top: 0;
}

a.project-card-repo {
    float: right;
}

/* Don't make FA icons inside links to be red */
a > .fa {
    color: black;
}
