html, body {
    height: 100%;
}

html body {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-size: 15px
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding-top: 55px;
    text-align: center;
}

main {
    max-width: 750px;
    flex: 1 1 auto;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

main h1 {
    color: #212121;
    font-size: 7vh;
}

.subheading {
    font-size: 3vh;
    line-height: 1.5;
}


/*home page*/

.frontpage > .action-buttons {
    margin: 25px auto;
}

/* Section Index Pages */
.section-index {
    flex: 1 0 auto;
}

.section-item {
    flex: 1 0 auto;
}

.action-buttons > .btn {
    background-color: white;
    border-color: red;
    color: red;
}

.action-buttons > .btn:hover {
    background-color: red;
    color: white !important;
}

a:link, a:visited, .pagination > li > a {
    color: red;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: red;

}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* project cards */
.project-card-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
}

.project-card {
    border-radius: 5px;
    border: 1px solid silver;
    flex: 1 1 auto;
    margin: 1em;
    padding: 1em;
    width: 300px;
}

.project-card-title {
    margin-top: 0;
}

a.project-card-repo {
    float: right;
}

.project-card-tags {
    margin-top: 1em
}

.gh-project-link {
    font-size: 120%;
}

/* Don't make FA icons inside links to be red */
a > .fa {
    color: black;
}

/* Make sure images do not overflow the main content */
img {
    max-width: 100%
}
